@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mr9ff2');
  src:  url('fonts/icomoon.eot?mr9ff2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mr9ff2') format('truetype'),
    url('fonts/icomoon.woff?mr9ff2') format('woff'),
    url('fonts/icomoon.svg?mr9ff2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantoudown:before {
  content: "\e98c";
}
.icon-jiantouup:before {
  content: "\e98d";
}
.icon-nav_agentapp:before {
  content: "\e98b";
}
.icon-nav_Applicationmanagement:before {
  content: "\e96f";
}
.icon-nav_Icon-management:before {
  content: "\e970";
}
.icon-nav_achievement:before {
  content: "\e971";
}
.icon-nav_agent:before {
  content: "\e972";
}
.icon-nav_Basicdata:before {
  content: "\e973";
}
.icon-nav_basicinformation:before {
  content: "\e974";
}
.icon-nav_business:before {
  content: "\e975";
}
.icon-nav_Calculator:before {
  content: "\e976";
}
.icon-nav_Changes:before {
  content: "\e977";
}
.icon-nav_complaint:before {
  content: "\e978";
}
.icon-nav_customers:before {
  content: "\e979";
}
.icon-nav_dispute:before {
  content: "\e97a";
}
.icon-nav_equipment:before {
  content: "\e97b";
}
.icon-nav_ERP:before {
  content: "\e97c";
}
.icon-nav_financialmanagement:before {
  content: "\e97d";
}
.icon-nav_Housewatching:before {
  content: "\e97e";
}
.icon-nav_housing:before {
  content: "\e97f";
}
.icon-nav_jurisdiction:before {
  content: "\e980";
}
.icon-nav_library:before {
  content: "\e981";
}
.icon-nav_money:before {
  content: "\e982";
}
.icon-nav_organization:before {
  content: "\e983";
}
.icon-nav_process:before {
  content: "\e984";
}
.icon-nav_reportform:before {
  content: "\e985";
}
.icon-nav_Sign:before {
  content: "\e986";
}
.icon-nav_Systemsettings:before {
  content: "\e987";
}
.icon-nav_Tradingbusiness:before {
  content: "\e988";
}
.icon-nav_Transactionmanagement:before {
  content: "\e989";
}
.icon-nav_workbench:before {
  content: "\e98a";
}
.icon-eye:before {
  content: "\e96b";
}
.icon-simplelist:before {
  content: "\e96c";
}
.icon-phone:before {
  content: "\e96d";
}
.icon-d_down:before {
  content: "\e96e";
}
.icon-d_right:before {
  content: "\e96a";
}
.icon-right:before {
  content: "\e968";
}
.icon-left:before {
  content: "\e969";
}
.icon-diamond:before {
  content: "\e967";
}
.icon-star:before {
  content: "\e965";
}
.icon-unfinished:before {
  content: "\e966";
}
.icon-pick:before {
  content: "\e963";
}
.icon-wifi:before {
  content: "\e964";
}
.icon-forbid:before {
  content: "\e962";
}
.icon-famale:before {
  content: "\e95d";
}
.icon-male:before {
  content: "\e95e";
}
.icon-code:before {
  content: "\e95f";
}
.icon-QR-code:before {
  content: "\e960";
}
.icon-deploy:before {
  content: "\e958";
}
.icon-moveinbox:before {
  content: "\e959";
}
.icon-potential-customer:before {
  content: "\e95a";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-view:before {
  content: "\e95c";
}
.icon-broker:before {
  content: "\e951";
}
.icon-housecard:before {
  content: "\e953";
}
.icon-question:before {
  content: "\e954";
}
.icon-time:before {
  content: "\e955";
}
.icon-hot:before {
  content: "\e956";
}
.icon-air-conditioner:before {
  content: "\e916";
}
.icon-bed:before {
  content: "\e917";
}
.icon-desk:before {
  content: "\e920";
}
.icon-dining-table:before {
  content: "\e933";
}
.icon-doublebed:before {
  content: "\e935";
}
.icon-gas:before {
  content: "\e937";
}
.icon-heater:before {
  content: "\e938";
}
.icon-radiator:before {
  content: "\e939";
}
.icon-refrigerator:before {
  content: "\e93a";
}
.icon-sofa:before {
  content: "\e93b";
}
.icon-tv:before {
  content: "\e93e";
}
.icon-tvbench:before {
  content: "\e93f";
}
.icon-wardrobe:before {
  content: "\e940";
}
.icon-washer:before {
  content: "\e946";
}
.icon-screen:before {
  content: "\e915";
  color: #1f3a70;
}
.icon-point:before {
  content: "\e914";
}
.icon-closethin:before {
  content: "\e913";
}
.icon-list-icon:before {
  content: "\e912";
}
.icon-downward:before {
  content: "\e900";
}
.icon-aleft:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-heart-hollow:before {
  content: "\e903";
}
.icon-person:before {
  content: "\e904";
}
.icon-note:before {
  content: "\e905";
}
.icon-tower:before {
  content: "\e906";
}
.icon-camera1:before {
  content: "\e907";
}
.icon-key1:before {
  content: "\e908";
}
.icon-heart-solid:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-circle:before {
  content: "\e90c";
}
.icon-done2:before {
  content: "\e90d";
}
.icon-exit:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-add:before {
  content: "\e911";
}
.icon-add-contact:before {
  content: "\e918";
}
.icon-protection:before {
  content: "\e919";
}
.icon-viewing:before {
  content: "\e91a";
}
.icon-house-feature:before {
  content: "\e91b";
}
.icon-delegation:before {
  content: "\e91c";
}
.icon-history:before {
  content: "\e91d";
}
.icon-house:before {
  content: "\e91e";
}
.icon-house-level:before {
  content: "\e91f";
}
.icon-record:before {
  content: "\e921";
}
.icon-house-ad:before {
  content: "\e922";
}
.icon-price:before {
  content: "\e923";
}
.icon-msg-alert:before {
  content: "\e924";
}
.icon-gather:before {
  content: "\e925";
}
.icon-flow:before {
  content: "\e926";
}
.icon-close1:before {
  content: "\e927";
}
.icon-remarks:before {
  content: "\e928";
}
.icon-save:before {
  content: "\e929";
}
.icon-top:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e92b";
}
.icon-edit:before {
  content: "\e92c";
}
.icon-caution:before {
  content: "\e92d";
}
.icon-done:before {
  content: "\e92e";
}
.icon-change:before {
  content: "\e92f";
}
.icon-maintain:before {
  content: "\e930";
}
.icon-shoucangdianji:before {
  content: "\e931";
}
.icon-shoucangdianjibeifen:before {
  content: "\e932";
}
.icon-more:before {
  content: "\e934";
}
.icon-list-icon1:before {
  content: "\e957";
}
.icon-close:before {
  content: "\e936";
}
.icon-fav_community:before {
  content: "\e93c";
}
.icon-fav_house:before {
  content: "\e93d";
}
.icon-list:before {
  content: "\e941";
}
.icon-message:before {
  content: "\e942";
}
.icon-nav:before {
  content: "\e943";
}
.icon-table:before {
  content: "\e944";
}
.icon-piclist:before {
  content: "\e945";
}
.icon-common:before {
  content: "\e947";
}
.icon-must:before {
  content: "\e948";
}
.icon-list1:before {
  content: "\e949";
}
.icon-key2:before {
  content: "\e94a";
}
.icon-camera2:before {
  content: "\e94b";
}
.icon-auction:before {
  content: "\e94c";
}
.icon-camera:before {
  content: "\e94d";
}
.icon-key:before {
  content: "\e94e";
}
.icon-list-0:before {
  content: "\e94f";
}
.icon-sincerity-8:before {
  content: "\e950";
}
.icon-uniE952:before {
  content: "\e952";
}
.icon-pen:before {
  content: "\e961";
}
